@import "tailwindcss";

:root {
  --background: #eee;
    --foreground: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html, body {
  overscroll-behavior: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #000;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: normal;
}

.custom-cursor.is-media {
    width: 36px;
    height: 36px;
    background: #C55BF9;
    border-color: #C55BF9;
    color: white;
    font-size: 8px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-cursor span {
    pointer-events: none;
    font-size: 8px;
    margin: 0;
    padding: 0;
}
